# Simple data manipulation using lists and dictionaries

### 1. Count Word Frequency in a List
### Given a list of words, count how many times each word appears using a dictionary.

In [1]:
words = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
word_count = {}
for word in words:
    word_count[word] = word_count.get(word, 0) + 1
print("Word Frequencies:")
for word, count in word_count.items():
    print(f"{word}: {count}")

Word Frequencies:
apple: 3
banana: 2
orange: 1

### 2. Filter Students Who Passed All Subjects
### Each student has marks in subjects. Filter only those who passed all subjects (assume pass mark is 40).

In [2]:
students = [
    {'name': 'Amit', 'marks': [55, 67, 80]},
    {'name': 'Neha', 'marks': [30, 50, 45]},
    {'name': 'Kiran', 'marks': [42, 60, 77]},
]
passed_students = []
for student in students:
    if all(mark >= 40 for mark in student['marks']):
        passed_students.append(student['name'])
print("Students who passed all subjects:")
for name in passed_students:
    print(name)

Students who passed all subjects:
Amit
Kiran

### 3. Sort Dictionary by Value
### Sort a dictionary (e.g., student total scores) by values in descending order.

In [4]:
student_scores = {
    'Ravi': 250,
    'Anjali': 275,
    'Meena': 260,
    'Sandeep': 280
}
sorted_scores = dict(sorted(student_scores.items(), key=lambda x: x[1], reverse=True))
print("Student Scores (High to Low):")
for name, score in sorted_scores.items():
    print(f"{name}: {score}")

Student Scores (High to Low):
Sandeep: 280
Anjali: 275
Meena: 260
Ravi: 250

### 4: Group Employees by Department
### You have a list of employees with departments. Group them by department using a dictionary.

In [5]:
employees = [
    {'name': 'Jai', 'dept': 'HR'},
    {'name': 'Amit', 'dept': 'IT'},
    {'name': 'Bandu', 'dept': 'HR'},
    {'name': 'Chetan', 'dept': 'Finance'},
    {'name': 'Eklavya', 'dept': 'IT'}
]
department_groups = {}
for emp in employees:
    dept = emp['dept']
    department_groups.setdefault(dept, []).append(emp['name'])
print("Employees by Department:")
for dept, names in department_groups.items():
    print(f"{dept}: {', '.join(names)}")

Employees by Department:
HR: Jai, Bandu
IT: Amit, Eklavya
Finance: Chetan

### 5. Find Common Elements in Two Lists
### Given two lists of numbers, find the common elements using a dictionary or set.

In [6]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
common = list(set(list1) & set(list2))
print("Common Elements:", common)

Common Elements: [4, 5]

### 6. Track Product Stock and Sales
### Simulate a simple inventory system where you reduce stock when a product is sold.

In [7]:
inventory = {
    'pen': 100,
    'notebook': 50,
    'eraser': 75
}
sales = {
    'pen': 3,
    'eraser': 5,
    'notebook': 1
}
for item, sold_qty in sales.items():
    if item in inventory:
        inventory[item] -= sold_qty
print("Updated Inventory:")
for item, qty in inventory.items():
    print(f"{item}: {qty}")

Updated Inventory:
pen: 97
notebook: 49
eraser: 70

### 7. Create a Contact Book
### Let users store and search contact names and phone numbers.

In [9]:
contacts = {
    'Arum': '9876543210',
    'Binod': '9123456789',
    'Sandeep': '9988776655'
}
name = input("Enter contact name to search: ")
if name in contacts:
    print(f"{name}'s number is: {contacts[name]}")
else:
    print("Contact not found.")

Enter contact name to search:  Sandeep

Sandeep's number is: 9988776655

### 8: Count Even and Odd Numbers in a List
### Take a list of integers and count how many are even and how many are odd.

In [11]:
numbers = [10, 21, 4, 45, 66, 93, 1]
even_count = 0
odd_count = 0
for num in numbers:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1
print(f"Even numbers: {even_count}")
print(f"Odd numbers: {odd_count}")

Even numbers: 3
Odd numbers: 4

### 9. Convert List of Tuples to Dictionary
### Convert a list of key-value pairs into a dictionary.

In [12]:
pairs = [('a', 1), ('b', 2), ('c', 3)]
result_dict = dict(pairs)
print("Converted Dictionary:", result_dict)

Converted Dictionary: {'a': 1, 'b': 2, 'c': 3}

### 10. Manage student marks using a list and dictionary
### ðŸ”¹ Requirements:
### Store information for multiple students.
### Each student has a name and marks in 3 subjects.
### Perform the following:
##### 1. Add student data.
##### 2. Calculate average marks for each student.
##### 3. Find the student with the highest average.

In [13]:
students = []
students.append({'name': 'Sandeep', 'marks': [85, 90, 78]})
students.append({'name': 'Omraj', 'marks': [70, 88, 82]})
students.append({'name': 'Vaibhav', 'marks': [95, 91, 89]})
def calculate_average(marks):
    return sum(marks) / len(marks)
topper = None
highest_avg = 0
print("Student Averages:")
for student in students:
    avg = calculate_average(student['marks'])
    print(f"{student['name']} - Average: {avg:.2f}")
    if avg > highest_avg:
        highest_avg = avg
        topper = student['name']
print(f"\nTopper: {topper} with an average of {highest_avg:.2f}")

Student Averages:
Sandeep - Average: 84.33
Omraj - Average: 80.00
Vaibhav - Average: 91.67

Topper: Vaibhav with an average of 91.67